{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<!--Logout card-->
<div class="row">
  <div class="col s12 l8 offset-l2">
      <div class="card">
        <div class="card-content">
          <h5>{% trans "Sign Out" %}</h5>

          <p>{% trans 'Are you sure you want to sign out?' %}</p>

          <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <a href="{% url 'all_resources' %}" class="waves-effect waves-light btn btn-color">No</a>
            <button type="submit" class="waves-effect waves-light btn red darken-1" 
              aria-labelledby="Log-out-button">{% trans 'Sign Out' %}</button>
          </form>

      </div>
    </div>
  </div>
</div>


{% endblock %}
