{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>List of Links</title>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/materialize.min.css' %}" media="screen,projection">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    
    <!-- Navigation -->
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">one</a></li>
        <li><a href="#!">two</a></li>
        <li class="divider"></li>
        <li><a href="#!">three</a></li>
    </ul>
    <nav>
        <div class="nav-wrapper">
            <a data-target="modal-about" class="modal-trigger hand-cursor">
                <img class="responsive-img" src="{% static 'images/LinkOfLinks_logo.jpg' %}" alt="Logo image List Of List">
            </a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="{% url 'all_resources' %}">
                        {% block active_link_index %}
                        <span>All Resources</span>
                        {% endblock %}
                    </a>
                </li>
                <li>
                    <a href="{% url 'categories' %}">
                        {% block active_link_categories %}
                        <span>Categories</span>   
                        {% endblock %}
                    </a>
                </li>
                <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="#">Sass</a></li>
                <li><a href="#">Components_1</a></li>
                <li><a href="#">Components_2</a></li>
            </ul>
            <a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    
    <!--main-->
    <main>
        {% block content %}
        <!--Content Goes here-->
        {% endblock content %}
    </main>

    <!--nav pagination-->
    <div class="nav-pagination" aria-label="Page navigation">
        {% if page_obj.has_other_pages %}
            <ul class="pagination center bottom">
                {% if page_obj.has_previous %}
                    <li class="waves-effect"><a href="?page={{ page_obj.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
                    
                {% endif %}
                {% for i in page_obj.paginator.page_range %}
                    {% if i == page_obj.number %}
                        <li class="active blue waves-effect"><a href="?page={{ i }}">{{ i }}</a></li>
                    {% else %}
                        <li class="waves-effect"><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="waves-effect"><a href="?page={{ page_obj.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
    <!--footer-->
    <footer>
        <footer class="page-footer">
            <div class="footer-copyright">
              <div class="container">
              © 2023
              <a class="grey-text text-lighten-4 right" href="https://github.com/satogako/list-of-links" target="_blank">
                <i class="fa-brands fa-github-alt fa-2xl"></i>
              </a>
              </div>
            </div>
          </footer>
    </footer>

    <!-- Modal-About Window -->
    <div id="modal-about" class="modal">
        <div class="modal-content">
            <h4>List of Links</h4>
            <p>
                Welcome to my website List of Links! Here, you will find a curated collection of links, 
                screenshots, and brief descriptions of resources specifically tailored for 
                web developers. Whether you're seeking inspiration, tutorials, or tools, 
                this site has got you covered. Explore the carefully selected resources and 
                enhance your web development journey.</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-light btn btn-color">OK</a>
        </div>
    </div>
    
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{% static 'js/materialize.min.js' %}"></script> 
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://kit.fontawesome.com/4098b4a9a9.js" crossorigin="anonymous"></script>
</body>
</html>