{% extends "base.html" %}

{% block active_link_categories %}
<span class="active-navbar">Categories</span>
{% endblock %}

{% block content %}

<!--Resource card template with buttons tags-->
<div x-data="{tag: '', resource_list: []}" x-init="resource_list = await (await fetch('/resource-list')).json()">
    <p>
        {% for tag in tags %}
        <button class="waves-effect waves-light btn btn-color" @click="tag = $el.textContent"
            aria-label="category-button">{{ tag.name }}</button>
        {% endfor %}
    </p>
    <br>
    <div class="row-dis-fl">
        <template x-for="resource in resource_list.filter(f => f.tags.includes(tag))">
            <div class="col-fl">
                <div class="card hoverable">
                    <div class="card-content">
                        <h2 class="card-title grey-text text-darken-4" x-text="resource.title"></h2>
                        <p>
                            <span>
                                <small>Author: </small>
                            </span>
                            <span>
                                <small>
                                    <strong x-text="resource.author"></strong>
                                </small>
                            </span>
                        </p>
                        <p x-text="resource.content"></p>
                        <p class="right-align font-size-xs" x-text="resource.created_on">
                            <i class="tiny material-icons">star_border</i>
                            <strong class="font-size-s" x-text="resource.number_of_likes"></strong>
                        </p>
                        <small class="right" x-text="resource.tags.join(', ')"></small>
                    </div>
                    <div class="card-action">
                        <a x-bind:href="resource.url" rel="nofollow" target="_blank">This is a link</a>
                    </div>
                </div>
            </div>
        </template>
    </div>
</div>

{% endblock %}