{% extends "base.html" %}

{% block active_link_index %}
<span class="active-navbar">All Resources</span>
{% endblock %}

{% block content %}


<div class="row">
    {% for data in resource_list %}
    <div class="col s12 m4">
        <div class="card hoverable">
            <div class="card-image ">
                <img class="materialboxed" width="650" src="{{ data.site_screenshot.url }}">
                <span class="sticker z-depth-4">Author: {{ data.author }}</span>
            </div>
            <div class="card-content activator hand-cursor">
                <span class="card-title activator grey-text text-darken-4">{{ data.title }}<i class="material-icons right">more_vert</i></span>
                <p class="activator">
                    {% for comment in data.comments.all %} 
                        {% if comment.approved %} 
                            <p>Comment: {{ comment.comment_field }}</p>
                        {% endif %}
                    {% endfor %}
                </p>
                <p class="activator right-align font-weight-size">{{ data.created_on }}  
                    <i class="tiny material-icons">star_border</i><strong>{{ data.number_of_likes }}</strong>
                </p>
            </div>
            <div class="card-action">
                <a href="{{ data.url }}" target="_blank">This is a link</a>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Card Title</span>
                <a class="waves-effect waves-light btn btn-color" href="{% url 'resource_comments' data.slug %}">Add You Comment</a> 
                <p>
                    Here is some more information about this product that is only revealed once clicked on.               
                </p>
                <!--List of comments-->  
                    {% for comment in data.comments.all %}
                        {% if comment.approved %}
                            <p>name:  {{ comment.name }} |  created_on:  {{ comment.created_on }}</p>
                            <p>{{ comment.comment_field }}</p>
                        {% endif %}
                    {% endfor %}
                <p>11234567</p>

            </div>
        </div>
    </div>
    {% if forloop.counter|divisibleby:3 %}
</div>
<div class="row">
    {% endif %}
    {% endfor %}
</div>


{% endblock %}