{% extends "base.html" %}

{% block active_link_index %}
<span class="active-navbar">All Resources</span>
{% endblock %}

{% block content %}
<h1 x-data="{ message: 'I ❤️ Alpine' }" x-text="message"></h1>

<div class="row">
    {% for data in resource_list %}
    <div class="col s12 m4">
        <div class="card hoverable">
            <div class="card-image ">
                <img class="materialboxed" width="650" src="{{ data.site_screenshot.url }}">
                <span class="sticker z-depth-4">Author: {{ data.author }}</span>
            </div>
            <div class="card-content activator hand-cursor">
                <h2 class="card-title activator grey-text text-darken-4">{{ data.title }}<i class="material-icons right">more_vert</i></h2>
                <p class="activator">{{ data.content|striptags }}</p>
                <p class="activator right-align font-size-xs">{{ data.created_on }}
                        <i class="tiny material-icons">star_border</i>
                        <strong class="font-size-s">{{ data.number_of_likes }}</strong>
                </p>
            </div>
            <div class="card-action">
                <a href="{{ data.url }}" target="_blank">This is a link</a>
            </div>
            <div class="card-reveal background-color">
                <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>{{ data.title }}</span>
                <a class="waves-effect waves-light btn btn-color" href="{% url 'resource_comments' data.slug %}">Add You Comment</a>
                <h6 class="center-align">Comments:</h6>
                                
                <!--List of comments-->
                {% for comment in data.comments.all %}
                    {% if comment.approved %}
                        <p class="left-align font-size-xs line-height">
                            <strong class="font-size-s">{{ comment.name }}</strong> | {{ comment.created_on }}
                        </p>
                        <p>{{ comment.comment_field }}</p>
                    {% endif %}
                {% empty %}
                    <br>
                    <p class="text-placeholder">No comments yet</p>
                {% endfor %}
            </div>
        </div>
    </div>
    {% if forloop.counter|divisibleby:3 %}
</div>
<div class="row">
    {% endif %}
    {% endfor %}
</div>


{% endblock %}