{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col s12 l8 offset-l2">
        <div class="card">
            <div class="card-image ">
                <img src="{{post.site_screenshot.url}}" alt="Screenshot of the {{ post.title }} site">
            </div>
            <div class="card-content">
                <!--Header-->
                <div class="card-title">
                    <h2 class="flow-text center-align"><strong>{{ post.title }}</strong></h2>
                </div>
                <!--Author, date create, number of comments, number of likes-->
                <div>
                    <p class="font-size-s">
                        <span>
                            <strong class="font-size-m">{{ post.author }}</strong> | {{ post.created_on }}
                        </span>
                    <p>
                    </p>
                    <span>
                        <i class="tiny material-icons">comment</i>
                        {% with comments.count as number_of_comments %}
                        <strong class="font-size-m">{{ number_of_comments}}</strong>
                        {% endwith %}
                    </span>
                    <span>
                        {% if user.is_authenticated %}
                        <form class="inline-bl" action="{% url 'post_admirer' post.slug %}" method="POST">
                            {% csrf_token %}
                            {% if admired %}
                            <button class="star-button" type="submit" name="blogpost_id" value="{{post.slug}}"
                                aria-label="submit like">
                                <i class="tiny star-button material-icons star-color">star</i>
                            </button>
                            {% else %}
                            <button class="star-button" type="submit" name="blogpost_id" value="{{post.slug}}"
                                aria-label="submit like">
                                <i class="tiny star-button material-icons">star_border</i>
                            </button>
                            {% endif %}
                        </form>
                        {% else %}
                        <i class="tiny material-icons">star_border</i>
                        {% endif %}
                        <strong class="font-size-m">{{ post.number_of_likes }}</strong>
                    </span>
                    </p>
                </div>
                <div class="divider"></div>
                <div class="row">
                    <div class="section">
                        <!--Comments form-->
                        <div class="col s12 l5 push-l7">
                            {% if already_commented %}
                            <br>
                            <div class="chip teal lighten-2">
                                Sent for approval.
                                <i class="close material-icons">close</i>
                            </div>
                            {% else %}

                            {% if user.is_authenticated %}
                            <span>
                                <h3 class="flow-text">Leave a comment:</h3>
                                <div class="row">
                                    <form method="post" class="col s12">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="input-field col s12 right">
                                                <i class="material-icons prefix">mode_edit</i>
                                                <textarea name="comment_field" id="icon_prefix2"
                                                    class="materialize-textarea">
                                                    </textarea>
                                                <label for="icon_prefix2">Posting as: {{ post.author }}</label>
                                            </div>
                                            <button type="submit" class="waves-effect waves-light btn btn-color right">
                                                Submit
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </span>
                            {% else %}
                            <br><br>
                            <p class="text-placeholder">Register to be able to add your comments.</p>
                            {% endif %}
                            {% endif %}
                        </div>
                        <!--List of comments-->
                        <div class="col s12 l7 pull-l5">
                            <span>
                                <h3 class="flow-text">Comments:</h3>
                                {% for comment in comments %}
                                <br>
                                <blockquote>
                                    <p class="left-align font-size-s line-height">
                                        <strong>{{ comment.name }}</strong> |
                                        {{ comment.created_on }}
                                    </p>
                                    <p class="text-align-justify">{{ comment.comment_field }}</p>
                                </blockquote>
                                {% empty %}
                                <br><br>
                                <p class="text-placeholder">No comments yet</p>
                                {% endfor %}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}